.linkButton {
    display: inline-block;
    background-color: #017bfe;
    color: #fff;
    text-align: center;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
}

.linkButton:hover {
    opacity: 0.6;
}