.contact {
    background-color: #fff;
}

.validationErrorText {
    color: red;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.successMessage {
    margin: 20px auto;
    padding: 15px 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInSlideDown 0.5s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 90%;
    box-sizing: border-box;
}

.successMessage::before {
    content: "✔️";
    margin-right: 10px;
    font-size: 1.2rem;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}