.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg,
            var(--primary-color),
            var(--secondary-color));
    padding: 8rem 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 100vh;
}

.page404 h1 {
    color: #444;
}

.page404 h2 {
    color: #555;
}

.page404 p {
    padding-bottom: 2rem;
}

.container {
    background-color: #fff;
    color: #666;
    width: 80%;
    max-width: 400px;
    padding: 2rem 2rem;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
}